{{#partial "content"}}

    <div class="back">
        <div class="bord">
        <h1 class="text display-4">Welcome to B-U</h1>
        <button class="btn btn-primary"> <a href="/create/user" style="color:white">Create user</a></button>&nbsp &nbsp &nbsp
            <button class="btn btn-primary"><a href="/create/department" style="color:white">Create department</a></button>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}