{{#partial "content"}}

    <div class="back">
        <div class="bord">
        <h1 class="text display-4">Welcome to B-U</h1>
        <a href="/create/user" style="color:white">Create user</a><br>
        <a href="/create/department" style="color:white">Create department</a>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}