<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Organisational News Portal{{/block}}</title>


</head>
<body>


<!--begin main template-->

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>

<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}